@import-normalize

body
	margin: 0
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

*
	box-sizing: border-box
	&:before, &:after
		box-sizing: border-box

.block-inner
	margin: 0 auto
	max-width: 970px
	padding: 0 15px
	width: 100%
	
.block-indent
	padding-top: 25px
	padding-bottom: 25px

table
	border-collapse: collapse
	width: 100%
	font-size: 12px
	&, th, td
		border: 1px solid mediumvioletred
	th, td
		padding: 3px 8px
		

.header
	background-color: mediumvioletred
	.block-inner
		display: flex
		align-items: center
		justify-content: space-between
	h1
		margin: 0
		color: white
	
	nav
		display: flex
		a
			display: block
			padding: 15px 20px
			text-decoration: none
			border-top: 3px solid transparent 
			border-bottom: 3px solid transparent 
			color: white
			&:hover
				border-bottom-color: rgba(white, 0.5)
			&.active
				border-bottom-color: white
			
				
.pagination
	display: flex
	align-items: center
	flex-wrap: wrap
	justify-content: space-between
	&__pages
		display: flex
		list-style-type: none
		align-self: center
		padding: 0
		margin: 20px 0 0 0
		a
			display: inline-block
			padding: 2px 8px
			text-decoration: none
			color: mediumvioletred
			&.active
				background-color: mediumvioletred
				color: white

	&__perView
		display: flex
		margin-right: 20px
		margin-top: 20px
		margin-bottom: 20px
		label
			margin-right: 10px
			

.table-control
	display: flex
	justify-content: space-between
	margin-top: 10px
	margin-bottom: 20px
	&__sorting
		display: flex
		label
			margin-right: 8px
	&__search
		display: flex
		label
			margin-right: 8px
		
.table-wrapper
	position: relative
	min-height: 50px
	.loading-indicator
		position: absolute
		top: 22px
		left: 0
		right: 0
		bottom: 0
		background-color: rgba(255, 255, 255, 0.8)
		&:after
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			content: "Loading..."
			

.pagination-container
	display: flex
	list-style-type: none

	.pagination-item
		padding: 0 12px
		height: 32px
		text-align: center
		margin: auto 4px
		color: rgba(0, 0, 0, 0.87)
		display: flex
		box-sizing: border-box
		align-items: center
		letter-spacing: 0.01071em
		border-radius: 16px
		line-height: 1.43
		font-size: 13px
		min-width: 32px

		&.dots:hover
			background-color: transparent
			cursor: default

		&:hover
			background-color: rgba(0, 0, 0, 0.04)
			cursor: pointer


		&.selected
			background-color: rgba(0, 0, 0, 0.08)


		.arrow
			&::before
				position: relative
				/* top: 3pt Uncomment this to lower the icons as requested in comments*/
				content: ''
				/* By using an em scale, the arrows will size with the font */
				display: inline-block
				width: 0.4em
				height: 0.4em
				border-right: 0.12em solid rgba(0, 0, 0, 0.87)
				border-top: 0.12em solid rgba(0, 0, 0, 0.87)


			&.left
				transform: rotate(-135deg) translate(-50%)


			&.right
				transform: rotate(45deg)



		&.disabled
			pointer-events: none

			.arrow::before
				border-right: 0.12em solid rgba(0, 0, 0, 0.43)
				border-top: 0.12em solid rgba(0, 0, 0, 0.43)


			&:hover
				background-color: transparent
				cursor: default
      
    
  

